@font-face {
  font-family: "iconfont"; /* Project id 3438819 */
  src: url('iconfont.woff2?t=1654430344846') format('woff2'),
       url('iconfont.woff?t=1654430344846') format('woff'),
       url('iconfont.ttf?t=1654430344846') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing:before {
  content: "\e63a";
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-biyanjing:before {
  content: "\e901";
}

.icon-pinglun1:before {
  content: "\e8b4";
}

.icon-shangjiantou_huaban:before {
  content: "\e63f";
}

.icon-sousuoremensousuo:before {
  content: "\e663";
}

.icon-sousuo:before {
  content: "\e60d";
}

.icon--huli:before {
  content: "\e611";
}

.icon-Halloween-:before {
  content: "\e60e";
}

.icon-a-jingyaguilian-11:before {
  content: "\e7e4";
}

.icon-jiqiren:before {
  content: "\e6ac";
}

.icon-pinglun:before {
  content: "\e683";
}

.icon-tupianpinglun:before {
  content: "\e602";
}

.icon-shujutongji:before {
  content: "\e600";
}

.icon-xiasanjiaoxing:before {
  content: "\e642";
}

.icon-daohang:before {
  content: "\e613";
}

.icon-fenlei:before {
  content: "\e67b";
}

.icon-shouye:before {
  content: "\e612";
}

.icon-icon:before {
  content: "\e652";
}

.icon-github:before {
  content: "\e718";
}

.icon-email:before {
  content: "\e622";
}

.icon-jiazhuangjiajuleimufill:before {
  content: "\e6e7";
}

.icon-dianshi:before {
  content: "\e7fd";
}

.icon-erji:before {
  content: "\e7ff";
}

.icon-chilun:before {
  content: "\e674";
}

.icon-daohang1:before {
  content: "\e625";
}

.icon-csdn:before {
  content: "\e60c";
}

